$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

.FooterContainer {
  text-align: center;
  background-color: #000;
  color: #fff;
  .logo {
    padding-top: 2rem;
    font-size: 2rem;
    margin: 2rem 0;
    font-family: "Bruno Ace SC", cursive;
  }
  ul {
    width: 7rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    margin-bottom: 2rem;
  }

  p {
    padding-bottom: 1rem;
    margin: auto;
  }
  h3{
    margin: 1rem 1rem;
  }

  p:hover{

   text-decoration-color: #e70680;
    text-decoration: underline;
  }
  .payCardGroup{
    width: 12rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 2rem;
    // align-items: center;
    .payCard{
      width: 3rem;
    }
  } 
}

@media (min-width: $breakpoint-tablet) {
  .FooterContainer {
    padding: 2rem 2rem 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    .logoContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .logo {
      padding-top: 0;
      margin-top: -0.5rem;
    }
    h3{
      margin-top: 0;
    }
  }
}

@media (min-width: $breakpoint-desktop){
  .FooterContainer{
    padding: 2rem 3rem;
  }
}
