$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

.NavContainer {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  text-decoration: none;
  padding: 0 1rem;
  color: #000;
  position: fixed;
  top: 0;
  width: 95%;
  background-color: #fff;

  .Logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    font-family: "Bruno Ace SC", cursive;
  }

  .carthan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5rem;
    cursor: pointer;
    padding-top: 0.5rem;
  }

  .hamburger {
    margin-right: 1rem;
  }
  .cart {
    padding-top: 0.5rem;
    width: 1.5rem;
  }

  .linkgroup {
    background-color: #fff;
    position: absolute;
    right: 1rem;
    top: 4rem;
    padding: 0 1rem 1rem 1.5rem;
    border-bottom-left-radius: 0.5rem;
    z-index: 2;
  }

  .hidden {
    display: none;
  }

  .Link {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    display: block;
    padding-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
  }
  .Link:hover {
    color: #e70680;
  }

  .overlay {
    position: fixed;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .cartNotificationIcon {
    position: absolute;
    color: #e70680;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    right: 0.8rem;
    margin-top: -0.5rem;
    text-align: center;
  }
}

@media (min-width: $breakpoint-tablet) {
  .NavContainer {
    height: 4rem;
    padding: 0 2rem;
    align-items: center;

    .Logo {
      font-weight: bold;
      font-size: 1.7rem;
    }
    .hamburger {
      display: none;
    }

    .carthan {
      width: fit-content;
      justify-content: center;
      margin-right: 1.5rem;
    }

    .cartNotificationIcon {
      right: 3rem;
    }

    #linkGroup {
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;
      width: 50%;
    }

    .linkgroup {
      position: relative;
      top: 0;
      padding: 0;
      right: 0;
    }
    .Link {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .NavContainer {
    padding: 0 3rem;
    .Logo {
      font-size: 2rem;
    }
    #linkGroup {
      width: 40%;
    }
    .Link {
      font-size: 1.5rem;
    }
    .carthan {
      margin-right: 2rem;
    }
    .cartNotificationIcon {
      right: 4.5rem;
    }
  }
}
